body {
    width: 95%;
    margin: auto;
}

.btn-danger {
    background-color: orangered !important;
    padding: 10px;
    border-radius: 10px;
}
#TopPart {
    color: dodgerblue;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}
a {
    color: dodgerblue;
    font-size: 1.5em;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#tableId th {
    border: 2px solid white;
}
#tableId thead th {
    vertical-align: middle;
}
#tableId td {
    border: 2px solid white;
}
table {
    width: 90%;
    margin: 10px;
}
table td {
    color: black;
}

table th {
    background-color: lightskyblue;
    text-align: center;
}

#searchBar label {
    color: orangered;
    padding-bottom: 0;
    margin-bottom: 0;
}
#search form {
    width: 100%;
}
#searchInput {
    border: solid 2px orangered;
    border-radius: 5px;
    width: 85%;
    height: 38px;
}
#searchBar button {
    margin-bottom: 5px;
}
#Home {
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

#searchBar2 {
    display: table-row;
    flex-direction: row;
    margin: auto;
    justify-content:space-evenly;
}

 #searchBar2 button {
     margin: 10px;
     font-size: 2.5em;
 }
#searchingInput2 label {
    display: table;
    margin: 10px;
    color: orangered;
}


#searchingInput2 {
    padding: 0.5em;
    border: solid 1px orangered;
    border-radius: 5px;
    margin: 10px;
}

.btn-danger{
    background-color: orangered !important;
}