<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="TopPart">
    <h1 class="title">My Shop</h1> <a href="/more-filters">More >></a>
</div>
<div id="navBar">
  <a href="/only-available" class="btn btn-danger">ONLY AVAILABLE</a>
  <a href="/cheapest-first" class="btn btn-danger">CHEAPEST FIRST</a>
  <a href="/contains-Nike" class="btn btn-danger">CONTAINS NIKE</a>
  <a href="/average-stock" class="btn btn-danger">AVERAGE STOCK</a>
  <a href="most-expensive" class="btn btn-danger">MOST EXPENSIVE AVAILABLE</a>
</div>
<div id="searchBar">
    <label for="searchBar"> Search for:</label>
    <form th:action="@{search}" th:method="POST" id="search">
        <label for="searchInput"></label>
        <input type="text" name="keyword" id="searchInput" placeholder="... something like nike">
        <button type="submit" class="btn-danger">Search</button>
    </form>
</div>
<div id="tableId">
    <table class="table table bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th style="width: 50px">Quantity in stock</th>
        </tr>
        <tbody>
        <tr th:each="shopItem : ${shopItems}" th:object="${shopItem}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td th:text="${#numbers.formatDecimal(shopItem.price, 0, 1)} + ' ' + ${shopItem.currency}"></td>
            <td th:text="*{quantityOfStock}" style="text-align: center"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>