<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> GFA Class application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h1 class="links">Greenfox Class </h1>

<div class="links">
    <a href="/gfa/list" class="btn btn-primary">List</a>
    <a href="/gfa/add" class="btn btn-secondary">Add Student</a>
    <a href="gfa/check" class="btn btn-warning">Check Student in the list</a>
</div>

<style>
    .links {
        max-width: 500px;
        margin: auto;
    }
</style>

</body>
</html>