html{
    width: 100%;
    height: 100%;
    display: table;

}
body {

    margin: auto;
    font-family: 'Playfair Display', serif;
    display: table-cell;
    vertical-align: auto;
    min-height: 100%;
}

section.book-list table tbody tr {
    text-align: center;
    padding: 5em;

}